<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="model2adjlist"
         name="Converts a Model to Adjacency List"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.sidiff.bug.localization.model2adjlist.Application">
         </run>
      </application>
   </extension>

</plugin>
